  <!-- Hero Section -->
<section class="text-white py-20" style="background: linear-gradient(to right, var(--color-primary), var(--color-tertiary));">
    <div class="container mx-auto px-4 text-center mt-10">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">
           Hello, I'm Adnan Neyazi
       </h1>
       <p class="text-xl md:text-2xl mb-8">
           A passionate Software Developer
       </p>
       <a class="bg-white text-primary px-6 py-3 rounded-full text-lg font-bold hover:bg-gray-200 transition duration-300" href="#projects" style="color: var(--color-primary);">
           View My Work
       </a>
   </div>
</section>