<body class="font-roboto bg-gray-100 text-gray-900">
 <!-- Hero Section -->
  <%= render 'home/hero_section' %>
  <!-- About Section -->
  <%= render 'home/about_section' %>
  <!-- Projects Section -->
  <%= render 'home/project' %>
  <!-- Contact Section -->
  <%= render 'home/contact_us' %>
</body>